.top_menu{
    display: flex;
    height: 10vh;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.top_menu .left{
    display: flex;
}

.top_menu .left p{
    padding: 6px;
    font-size: 20px;
}


.background{
    background-color: rgb(130, 130, 130);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.chat{
    user-select: none;
    background-color: black;
    width: 480px;
    margin: auto;
    height: 100vh;
    padding: 1px;
}

.chat_container{
    overflow-y: auto;
    height: 100vh;
}

.chat_container::-webkit-scrollbar{
    display: none;
}

.chat_input{
    position: fixed;
    bottom: 0;
    height: 60px;
    background-color: #3B3B3B;
    width: 479px;
    display: flex;
    align-content: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.chat_input input{
    width: 80%;
    background-color: #3B3B3B;
    font-size: 18px;
}

.chat_input input:focus{
    outline: none;
}

.send_img{
    align-content: center;
}

@media (max-width:440px) {
    .chat{
        width: 100vw;
    }

    .chat_input{
        width: 100vw;
    }
}