.splash{
    display: flex;
    align-content: center;
    height: 100vh;
    user-select: none;
}

.socchat_logo{
    margin: auto;
}

@media (max-width:440px) {
    html, body {
        height: 100%;
    }

    body {
        height: var(--vh, 100vh); /* --vh 값을 사용 */
    }
}