.splash{
    display: flex;
    align-content: center;
    height: calc(var(--vh, 1vh) * 100);
    user-select: none;
    background-color: black;
}

.socchat_logo{
    margin: auto;
}

@media (max-width:440px) {
    html, body {
        height: 100%;
    }

    body {
        height: calc(var(--vh, 1vh) * 100); /* --vh 값을 사용 */
    }
}