.background{
    background-color: rgb(130, 130, 130);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.home{
    user-select: none;
    background-color: black;
    width: 480px;
    margin: auto;
    height: 100vh;
    padding: 1px;
}

.intro{
    margin: auto;
    width: 420px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 15vh;
    overflow: hidden;
}

.mainbtn{
    margin: auto;
    width: 390px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10vh;
}

@media (max-width:440px) {
    html, body {
        height: 100%;
    }

    body {
        height: var(--vh, 100vh); /* --vh 값을 사용 */
    }

    .intro{
        width: 90vw;
        margin-top: 15vh;
        margin-left: 20px;
    }

    .mainbtn{
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5vh;
        margin: auto;
        display: flex;
        justify-content: center;
    }
}