.background{
    background-color: rgb(130, 130, 130);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.home{
    user-select: none;
    background-color: black;
    width: 480px;
    margin: auto;
    height: 100vh;
    padding: 1px;
}

.intro{
    margin: auto;
    width: 420px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 15vh;
    overflow: hidden;
}

.mainbtn{
    margin: auto;
    width: 390px;
    margin-top: 50vh;
}

@media (max-width:440px) {
    .intro{
        width: 90vw;
        margin-top: 15vh;
        margin-left: 20px;
    }

    .mainbtn{
        width: 100vh;
        margin-top: 55vh;
    }
}